<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- importin icons to the html -->

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- connecting css to html -->

    <link rel="stylesheet" href="/static/CSS/Style.css">

    <!-- importing images to html -->

    <link rel="stylesheet" href="/static/ASSETS/IMAGES/main.jpg" type="Image/x-icon">

    <title>Personal Portfolio</title>

</head>
<body>

<!-- ######################## navbar ###################### -->

    <div class="container">
    <!-- header -->
        <nav id="header">
            <div id="nav-logo">
                <p class="nav-name">Sri Karthik</p>
                <span>.</span>
            </div>
            <div class="nav-menu" id="myNavMenu">
                <ul class="nav_menu_list">
                    <li class="nav_list">
                        <a href="#home" class="nav-link">Home</a>
                        <div class="circle"></div>
                    </li>
                    <li class="nav_list">
                        <a href="#about" class="nav-link">About</a>
                        <div class="circle"></div>
                    </li>
                    <li class="nav_list">
                        <a href="#projects" class="nav-link">Achivements</a>
                        <div class="circle"></div>
                    </li>
                    <li class="nav_list">
                        <a href="#contact" class="nav-link">Contact</a>
                        <div class="circle"></div>
                    </li>
                </ul>
            </div>
            <div class="nav-button">
                <a href="/ASSETS/docs/Sri Karthik Resume.pdf" target="_blank"><button class="btn">Download CV<i class="uil uil-file-alt"></i></button></a>
            </div>
            <div class="nav-menu-btn">
                <i class="uil uil-bars" onclick="myMenuFunction()"></i>
            </div>
        </nav>

<!-- ######################### End of Navbar ######################### -->

<main class="wrapper">
    <!-- ######################### Home Page ############################# -->
    <section class="featured-box" id="home">
       <div class="featured-text">
         <div class="featured-name">
            <p>Hello,I'm </p>
            <span class="typedText"></span>
         </div>
         <div class="social_icons">
            <div class="icon"><a href="https://instagram.com/sri_karthik_77?igshid=NzZlODBkYWE4Ng==" target="_blank"><i class="uil uil-instagram" style="color: black;"></i></a></div>
            <div class="icon"><a href="https://www.linkedin.com/in/sri-karthik-karthik/" target="_blank"><i class="uil uil-linkedin-alt" style="color: black;"></i></a></div>
            <div class="icon"><a href="https://github.com/srikarthik9909" target="_blank"><i class="uil uil-github-alt" style="color: black;"></i></a></div>
         </div>
       </div>

    </section>
    <!-- ####################### End Of Home Page ######################### -->
</main>

<!-- ####################### JS linking ############################# -->

<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

<!-- ####################### scroll reveal js link ################# -->

    <script src="https://unpkg.com/scrollreveal"></script>

<!-- ####################### Main js ############################### -->

    <script src="/static/JS/main.js"></script>